[% WRAPPER "layout.tt" title=l("Search") %]
    [% WRAPPER "components/box.tt" header=l("Error") %]
        [% content %]
        <p>
            [% l('For assistance in writing effective search queries, try reading the [_1] documentation.', doc_link('TextSearchSyntax', 'text search syntax')) %]
        </p>
    [% END %]
    [% INCLUDE "search/form.tt" %]
[% END %]
