[%# Converted #%]

[%- WRAPPER "$entity.entity_type/layout.tt" title=l("Edit Annotation") -%]
    [%- WRAPPER 'components/box.tt' header=l('Edit Annotation') -%]
        [%- WRAPPER 'forms/form.tt' moderation=1 -%]
            [%- WRAPPER 'forms/fieldset.tt' legend=l('Annotation') -%]
                [% make_widget('annotation', l('Annotation')) -%]
                [% make_widget('change_log', l('Change Log')) -%]
            [%- END -%]
        [%- END -%]
    [%- END -%]
[%- END -%]
