[%# Converted #%]

[%- IF c.user.is_auto_editor(c.session.orig_privs) -%]
    [%- WRAPPER 'forms/fieldset.tt' legend=l('Autoeditor') -%]
        <p>
            [% text_autoeditor_note %]
        </p>
        [%- INCLUDE 'forms/generic/row.tt' field=form.field('as_auto_editor')
            label=l('Enable auto editor priviliges') -%]
    [%- END -%]
[%- END -%]
