[%# Converted #%]

[%- IF c.user.is_auto_editor(c.session.orig_privs) -%]
    [%- WRAPPER 'forms/fieldset.tt' legend='Autoeditor' -%]
        <p>
            [% text_autoeditor_note %]
        </p>
        [%- make_widget('as_auto_editor', l('Enable auto editor priviliges')) -%]
    [%- END -%]
[%- END -%]
