<input type="[% type %]" id="[% id %]" value="[% value %]"
       size="[% size || field.size || 30 %]"
       [% IF extra_attributes != 'class=""' %]
           [% extra_attributes %] 
       [% END %]
       [% IF name %]
           name="[% name %]"
       [% END %]
       [% IF class %]
           class="[% class %]"
       [% END %]
       [% IF title %]
           title="[% title %]"
       [% END %] />
