[% SET styleGuidelines=1 %]
[% PROCESS 'scripts/suitereqs.tt' %]
[% WRAPPER 'label/layout.tt' title=l('Edit Label Alias') %]
    [% INCLUDE 'scripts/suiteloader.tt' %]
    [% WRAPPER 'components/box.tt' header=l('Edit Label Alias') %]
        [% WRAPPER 'forms/form.tt' moderation=1 label=undef %]
            [% INCLUDE 'forms/generic/row.tt' field=form.field('alias') label=l('Alias') %]
        [% END %]
    [% END %]
[% END %]
