[% l('Hello.  Someone, probably you, asked that your MusicBrainz password be sent to you via email.') %]

[% l('Your MusicBrainz user name is: [_1]', username) %]
[% l('Your MusicBrainz password is: [_1]', password) %]

[% l('To log in to MusicBrainz, please use this link:') %]

[% c.uri_for('/user/login') %]

[% l('If you still have problems logging in, please drop us a line - see [_1] for details.', c.uri_for('/doc/ContactUs')) %]

-- [% l('The MusicBrainz Team') %]
