[%- PROCESS 'components/textblobs.tt' -%]
[%- WRAPPER 'layout/guidelines.tt' -%]
    [%- make_guideline('alias_about') -%]
    [%- make_guideline('alias_misspelled') -%]
    [%- make_guideline('alias_unique') -%]
[%- END -%]
[%- INCLUDE 'forms/generic/row.tt' field=form.field('alias') label=l('Alias')
    WRAPPER 'forms/fieldset.tt' legend=l('Alias')
    WRAPPER 'forms/form.tt' moderation=1 -%]
