[%# Converted #%]

[% WRAPPER 'artist/layout.tt' title=l("Merge Artists") %]
    [% WRAPPER 'components/box.tt' header=l("Merge ${artist.name} into ${new_artist.name}") %]
        <p>
            [% text_merge_artist_confirm %]
        </p>
        [%- WRAPPER "forms/form.tt" -%]
            [% INCLUDE "forms/edit-note.tt" %]
            [% INCLUDE "forms/submit.tt" label="Enter Edit" %]
        [%- END -%]
    [% END %]
[% END %]
