[%# Converted #%]

[% WRAPPER "artist/layout.tt" title=l("Confirm label") %]
    [% WRAPPER 'components/box.tt' header=l('Confirm label') %]
        [% INCLUDE 'add_release/bread_crumbs.tt' %]
        <p>
            [% text_select_label %]
        </p>
        [% INCLUDE "components/search.tt" entities=labels search_label=l('Label') %]
    [% END %]
    [%- INCLUDE 'label/edit_form.tt' form=create_label -%]
[% END %]
